/* For all devices */
body {
  font-family: Sans-Serif;
  background: linear-gradient(
    to right top,
    hsl(350, 89.2%, 60.2%),
    hsl(189, 94.5%, 42.7%),
    hsl(351, 94.5%, 71.4%)
  );
}
.Todo-Item:hover .Trash-icon {
  display: inline-block;
}
