/* For all devices */
body {
  font-family: Sans-Serif;
  background: linear-gradient(to right top, hsl(350, 89.2%, 60.2%), hsl(189, 94.5%, 42.7%), hsl(351, 94.5%, 71.4%));
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  /* Change the selector to :focus */
  .Todo-Item:focus .Trash-icon{
    display: block;
  }
  
  /* Show the trash icon by default on small screens */
  .Todo-Item .Trash-icon{
    display: block;
  }
}
